@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    
</main>


@*<section class="row" aria-labelledby="aspnetTitle">
    0
</section>

<div class="row">
    <section class="col-md-4" aria-labelledby="gettingStartedTitle">
        1
    </section>
    <section class="col-md-4" aria-labelledby="librariesTitle">
        2
    </section>
    <section class="col-md-4" aria-labelledby="hostingTitle">
        3
    </section>
</div>*@