<div class="border border-1">
    <div class="text-start">
        Product Category Name 
    </div>
    <div class="d-flex flex-row flex-wrap">
        @{ 
            Html.RenderPartial("Component/Common/Product/_ProductCard");
            Html.RenderPartial("Component/Common/Product/_ProductCard");
            Html.RenderPartial("Component/Common/Product/_ProductCard");
            Html.RenderPartial("Component/Common/Product/_ProductCard");
            Html.RenderPartial("Component/Common/Product/_ProductCard");
            Html.RenderPartial("Component/Common/Product/_ProductCard");

            
        }
    </div>
</div>
